# ignore the following when using ADD or COPY

# Git
.git*

# OS
.DS_Store

# IDEs
.idea

# secrets
.env*

# Docker
Dockerfile*
docker-compose.yml
*.dockerignore

# moviepy project admin / hosting / maintenance
.github
appveyor*
*.yml
*.md
*.txt
MANIFEST.in

# allow
!LICENCE*
!LICENSE*
!README*
